:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

main {
  padding: 1rem;
  margin: auto;
  max-width: 1280px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  border-bottom: 1px solid lightgrey;
}

header img {
  width: 2rem;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

header li {
  margin-right: 1rem;
}

header a:link,
header a:visited {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}

main {
  display: grid;
  gap: 1rem;
}

article figure {
  margin: 0;
}

article figure > a > img {
  border: 1px solid lightgray;
  border-radius: 2%;
  display: block;
  width: 100%;
  height: auto;
}

article figcaption {
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

article ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

article ul img {
  border-radius: 50%;
}

article li {
  padding-left: 0.2rem;
}

article a:link,
article a:visited {
  text-decoration: none;
  color: black;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: white;
  opacity: 0.9;
}

footer {
  border-top: 1px solid lightgrey;
  margin: 2rem;
}

@media (min-width: 600px) {
  main {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 900px) {
  main {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
