:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

main {
  margin: 3rem;
}

h1 {
  font-size: 6rem;
}
p {
  font-size: 2rem;
}

input {
  margin-left: 2rem;
  font-size: 2rem;
}
